// Body Styling
body {
    background-image: linear-gradient(35deg, #dddddd, #eeeeee);
}

// Nav bar

nav {

    li, ul {
        display: inline-block;
        list-style: none;
        padding: 10px;
    }
    ul {
        position: fixed;
        right: 0%;
        top: 0%;
    }
}

header {
    display: block;
    position: fixed;
    background-color: #454545;
    color: #dfdfdf;
    width: 100vw;
    height: 75px;
    left: 0%;
    top: 0%;
    z-index: 100;

    h1 {
        display: inline-block;
        margin-left: 1vw;
    }
}

// Tweaking To give space
main {
    position: absolute;
    top: 75px;
}

// Cards

// Set The Grid Up
.card-container {
    display: grid;
    gap: 25px;
    margin: auto;
    justify-items: center;
    position: absolute;
    left: 49.5vw;
    top: 45vh;
    transform: translate(-50%, -50%);
}

// Main Card
.main-card {
    width: 500px;
    background-color: #aeaeae;
    padding: 10px;
    border: 3px solid rgb(138, 138, 138);
    border-radius: 1vw;
    grid-column-start: 1;
    grid-column-end: 3;
}

// Bottom Cards
.bottom-card {
    width: 225px;
    background-color: #aeaeae;
    padding: 10px;
    border: 3px solid rgb(138, 138, 138);
    border-radius: 1vw;
}